body {
    
}

.header {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 18pt;
}

.talk {
    margin-bottom: 30px;
}
.speaker {
    display: inline-block;
    padding-left: 15px;
}
.speaker img {
    display: block;
    height: 70px;
    max-width: 70px;
}
.speaker .name {
    font-size: 12pt;
}
.speaker-container, .talk {
    clear: both;
}
.talk .time, .talk .title {
    font-size: 16pt;
}
.talk .title {
    font-weight: bold;
    padding-left: 10px;
}
.talk .description {
    /*
    display: none;
    */
    font-size: 8pt;
}
